.example-card {
  max-width: 100%;
}
.example-card .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.option-card {
  flex: 1 1 auto;
  max-width: 400px;
}

.mat-radio-button {
  margin-left: -7px;
}
