<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Instance Parameters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <h6>Required parameters</h6>
      <mat-form-field *ngIf="minimize">
        <mat-label>name</mat-label>
        <input matInput [(ngModel)]="name" name="name" placeholder="Placeholder" type="text" required>
        <mat-hint>name of component</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>vCPUs</mat-label>
        <input matInput [(ngModel)]="vCPUs" name="vcpus" placeholder="Placeholder" type="number" required>
        <mat-hint>min number of vCPUs for the instance, i.e. 4,8,16 ...</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Memory</mat-label>
        <input [(ngModel)]="memory" name="memory" matInput placeholder="Placeholder" type="number" required>
        <mat-hint>min memory for instance (GB)</mat-hint>
      </mat-form-field>
      <mat-form-field *ngIf="!minimize">
        <mat-label>OS</mat-label>
        <mat-select [(ngModel)]="selectedOs" name="Os" required>
          <mat-option *ngFor="let o of OSs" [value]="o.value">{{o.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pricing Option</mat-label>
        <mat-select [(ngModel)]="selectedpayment" name="paymentoptions" required>
          <mat-option *ngFor="let p of payment" [value]="p.value">{{p.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Size (GB)</mat-label>
        <input [(ngModel)]="size" name="size" matInput placeholder="Placeholder" type="number">
        <mat-hint>min storage size</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <h6>Optional Instance Parameters</h6>
      <mat-form-field *ngIf="!minimize">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="type" name="type">
          <mat-option *ngFor="let type of typePurpose" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Interruption behavior</mat-label>
        <mat-select [(ngModel)]="behavior" name="behavior">
          <mat-option *ngFor="let behavior of interruptionBehavior" [value]="behavior.value">{{behavior.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Interruption frequency</mat-label>
        <mat-select [(ngModel)]="frequency" name="frequency">
          <mat-option *ngFor="let frequency of interruptionFrequency" [value]="frequency.value">{{frequency.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Network Performance</mat-label>
        <input [(ngModel)]="network" name="network" matInput placeholder="Placeholder" type="number">
        <mat-hint>required network performance (Gbs)</mat-hint>
      </mat-form-field>
      <mat-form-field class="m-1" *ngIf="minimize">
        <mat-label>Affinity</mat-label>
        <input matInput [(ngModel)]="affinity" name="Affinity" placeholder="Placeholder" type="text">
        <mat-hint>example: 1,2</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="minimize">
        <mat-label>Anti-Affinity</mat-label>
        <input matInput [(ngModel)]="antiaffinity" name="Anti-Affinity" placeholder="Placeholder" type="text">
        <mat-hint>example: 1,2</mat-hint>
      </mat-form-field>
      <mat-checkbox class="example-margin" [(ngModel)]="burstable" name="burstable"
        [disabled]="network == null || network == 0">Burstable</mat-checkbox>
      <br>
      <h6>Optional Storage Parameters</h6>
      <mat-radio-group aria-label="Select an option" style="display: flex;">
        <mat-card class="option-card">
          <mat-card-header>
            <mat-radio-button value="1" #specificationStorage [checked]="true">Choose by specifications
            </mat-radio-button>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>IOPS MiB I/O</mat-label>
              <input [(ngModel)]="iops" name="iops" matInput placeholder="Placeholder" type="number"
                [disabled]="!specificationStorage.checked">
              <mat-hint>max iops for instance (GB)</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Throughput </mat-label>
              <input [(ngModel)]="throughput" name="throughput" matInput placeholder="Placeholder" type="number"
                [disabled]="!specificationStorage.checked">
              <mat-hint>max throughput for instance (MiB/s)</mat-hint>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card class="option-card">
          <mat-card-header>
            <mat-radio-button value="2" #manualStorage [checked]="false">Manual Storage selection</mat-radio-button>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Storage Type</mat-label>
              <mat-select [(ngModel)]="storage" name="storageType" [disabled]="!manualStorage.checked">
                <mat-option *ngFor="let type of storageTypes" [value]="type.value">{{type.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-radio-group>
      <div>


      </div>
    </form>
  </mat-card-content>
  <!--<h5>Submit Component</h5>-->
  <mat-card class="submit-plan-card">
    <mat-card-actions *ngIf="!minimize">
      <button mat-button class="bg-primary text-white m-1" (click)="submit(manualStorage.checked, 'aws')">AWS
        </button>
      <mat-form-field *ngIf="!minimize">
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="selectedRegion" name="region">>
          <mat-option *ngFor="let region of AWSregions" [value]="region.value">{{region.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <button mat-button class="bg-info text-white m-1" (click)="submit(manualStorage.checked,'azure')">Azure
        </button>
      <mat-form-field *ngIf="!minimize">
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="selectedRegion" name="region">>
          <mat-option *ngFor="let region of Azureregions" [value]="region.value">{{region.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <button mat-button class="bg-success text-white m-1" (click)="submit(manualStorage.checked,'hybrid')">Hybrid Cloud
        </button>
    </mat-card-actions>
    <mat-card-actions *ngIf="minimize">
      <button mat-button class="bg-primary text-white m-1" (click)="submit(manualStorage.checked, '')">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
  
</mat-card>