<div>
  <div style="height: 100%; display: flex; flex-direction: column;">
    <div style="margin-bottom: 4px;">
      <form>
        <mat-form-field>
          <mat-label>OS</mat-label>
          <mat-select [(ngModel)]="selectedOs" name="Os" required>
            <mat-option *ngFor="let o of OSs" [value]="o.value">{{o.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{paymentOptions!.name}}</mat-label>
          <mat-select [(ngModel)]="selectedPayment" name="{{paymentOptions!.name}}" required>
            <mat-option *ngFor="let o of paymentOptions.options" [value]="o">{{o}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="addApp()">Add App</button>
        <button mat-button (click)="onRemoveApp()" [disabled]="!rowSelected">Remove App</button>
        <button mat-button (click)="addComponentToApp()" [disabled]="!rowSelected">Add comp</button>
        <button mat-button (click)="removeSelectedComponents()">Remove selected components</button>
        <!-- <button mat-button (click)="sendRequest('aws')">Send request</button> -->
      </form>
    </div>
    <div style="flex-grow: 1;">
      <ag-grid-angular #agGrid style="width: 1800px; max-height: 100%;" id="myGrid" class="ag-theme-alpine"
        [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [groupDefaultExpanded]="false"
        [masterDetail]="true" [rowSelection]="rowSelection" [animateRows]="true"
        [detailCellRendererParams]="detailCellRendererParams" [detailRowAutoHeight]="true" [domLayout]="domLayout"
        (selectionChanged)="onRowSelected($event)" (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
    <div class="mt-3">
      <button mat-button class="bg-primary text-white m-1" (click)="sendRequest('aws')">AWS</button>
      <mat-form-field *ngIf="!hideElements!.AWSregions">
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="selectedRegion" name="region">>
          <mat-option *ngFor="let region of AWSregions" [value]="region.value">{{region.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-button class="bg-info text-white m-1" (click)="sendRequest('azure')">Azure</button>
      <mat-form-field *ngIf="!hideElements!.Azureregions">
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="selectedRegion" name="region">>
          <mat-option *ngFor="let region of Azureregions" [value]="region.value">{{region.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-button class="bg-success text-white m-1" (click)="sendRequest('hybrid')">Hybrid</button><br>
    </div>

  </div>
</div>